:root {
  --main-color: #000000;
  --invert-color: #ffffff;
  --main-bg-color: #ffffff;
  --invert-bg-color: #000116;
  --color-scheme: light;
}

html {
  color-scheme: var(--color-scheme);
}

body {
  color: var(--main-color);
  background: var(--main-bg-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #ffffff;
    --invert-color: #000000;
    --main-bg-color: #000116;
    --invert-bg-color: #ffffff;
    --color-scheme: dark;
  }
}
