.container {
    width: 100vw;
    height: calc(100vh - 95px - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .inputPlaylist {
        justify-self: center;
        align-self: center;
        input {
            width: 70vw;
            height: 30px;
            background-color: var(--invert-color);
            color: var(--main-color);
            border: 1px solid var(--main-color);
            border-top-width: 0px;
            border-right-width: 0px;
            border-left-width: 0px;
            outline: none;
        }
        .next {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            p {
                font-size: 1.2rem;
            }
        }
    }
}