.blurPage {
    z-index: -1;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.65);
}

@media (prefers-color-scheme: dark) {
    .blurPage {
        background-color: rgba(0, 0, 0, 0.65);
    }
  }