@import './tools.scss';

.nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 95px;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    .branding {
        font-size: larger;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .list {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        align-items: center;

        a {
            font-weight: bold;
        }
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
            @include useMainTheme($withInvertInHover: true);
            border-radius: 9px;
            border: 1px solid var(--main-color);
            width: 100px;
            height: 35px;
            font-weight: bold;
            font-size: small;
            cursor: pointer;
        }
    }
}
